/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.text-white {
  color: #ffffff !important;
  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.6) 35%,
    rgba(255, 255, 255, 0.9) 90%,
    rgba(255, 255, 255, 1) 100%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

nav ul li a i:hover {
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.8) 50%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.btn:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.btn:active,
.btn:focus {
  box-shadow: none !important;
}

.navbar-brand {
  height: 60px;
  width: 60px;
  background-image: url(static/logo.png);
  filter: invert();
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

a:not(.navbar-brand):hover {
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.8) 50%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

body {
  overflow-x: hidden;
}

.card {
  border: none;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.nav-link {
  padding: 0.5rem 0.1rem;
}

nav ul.navbar-social li {
  padding-left: calc(0.5vh + 0.3vw);
  padding-right: calc(0.5vh + 0.3vw);
}

.cover {
  height: 115vh;
  width: 100vw;
  background-image: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.5) 20%,
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.1) 80%
    ),
    url(/production/static/BREATHE_ARTWORK_DEF.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.cover h2 {
  position: absolute;
  bottom: 5%;
  width: 100vw;
  -webkit-animation: pulsate 2s ease-in-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0.1;
  }
}

.bg-purple {
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgb(82, 22, 50) 45%,
    rgba(0, 0, 0, 1) 100%
  ) !important;
}

.bg-black {
  background: #000000 !important;
}

.video iframe {
  width: 85vw;
  height: calc(85vw / 1.78);
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2,
.marketing h4 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.music iframe {
  width: 300px;
  height: 300px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/***TYPOGRAPHY***/
html {
  font-size: 1rem;
}

.text-purple {
  color: rgba(255, 159, 231, 0.6);
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
